@page "/users"

@using AdminDashboard.Infrastructure.Contracts;
@using AdminDashboard.Infrastructure.Responses;
@inject IUsersRepository _usersRepo

<MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<UsersResponse>>>(ServerReload))" Hover="true" @ref="table">
    <ToolBarContent>

        <div class="justify-center mud-text-align-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(()=>InvokeModal(""))">Thêm mới</MudButton>
            <MudButton Variant="Variant.Filled" OnClick="@(()=>OnSearch(""))" Color="Color.Secondary">Refresh danh sách</MudButton>
        </div>
        <MudToolBarSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Tìm kiếm" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel T="UsersResponse">Họ và tên</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="UsersResponse">Số điện thoại</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="UsersResponse">Email</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="UsersResponse">Nhóm</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:right">Tác vụ</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.fullName</MudTd>
        <MudTd DataLabel="Name">@context.phone</MudTd>
        <MudTd DataLabel="Brand">@context.email</MudTd>
        <MudTd DataLabel="Description">@context.level</MudTd>
        <MudTd DataLabel="Actions" Style="text-align:right">
            <MudMenu Label="Tác vụ" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary">
                <MudMenuItem @onclick="@(()=>InvokeModal(@context.phone))">Cập nhật</MudMenuItem>
                <MudMenuItem @onclick="@(()=>Delete(@context.phone))">Xóa</MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Số dòng trên trang" InfoFormat="InfoFormat" />
    </PagerContent>
</MudTable>